*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --defaultTransitionSpeed: 0.2s;
    --defaultTransitionType: ease-in-out;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.home-item {
    margin-bottom: 10px;
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
}
